---
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/inter";
import { Image } from "astro:assets";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import "~/styles/index.css";
import { fade } from "astro:transitions";
import "aos/dist/aos.css";

import heroShape from "~/assets/projectpulse_hero.webp";

const { generator, site } = Astro;
const title = "Exanta P.C. - ProjectPulse";
const image = new URL("social.jpg", site);
const pageTitle = "exanta - ProjectPulse";
const description = "Exanta P.C. - ProjectPulse";
---

<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <ViewTransitions />
    <title>{pageTitle}</title>
    <meta name="description" content={description} />

    <!-- plausible code -->
    <script
      defer
      data-domain="exanta.io"
      src="https://analytics.csd.auth.gr/js/script.js"></script>

    <!-- social media -->
    <meta property="og:title" content={pageTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Animate on scroll library  -->
    <script>
      import AOS from "aos";
      AOS.init();
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-slate-950 text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <div>
      <div class="bg-gradient-to-b from-slate-950 to-slate-800 mt-32">
        <!-- hero section -->
        <section
          id="aiactchecker-hero"
          class="hidden lg:flex scroll-mt-24 items-center justify-around gap-4 space-y-8 h-fit 2xl:mx-auto 2xl:ms-32"
        >
          <div
            class="h-[70vh] flex flex-row items-center justify-between space-y-0 gap-x-4 xl:gap-x-32 space-x-8"
          >
            <div class="flex-1 flex-col items-center gap-4 ps-32 max-w-[600px]">
              <slot name="eyebrow" />
              <h1
                class="text-green-500 text-left font-extrabold tracking-tight text-6xl"
              >
                ProjectPulse
              </h1>
              <p class="max-w-3xl text-left font-extrabold text-xl">
                <slot name="lead" />
                <span class="text-[#94A3B8]">
                  Mapping Innovation in EU-Funded Projects
                </span><slot />
              </p>
            </div>
            <div
              data-aos="fade-left"
              data-aos-duration="1500"
              class="flex-0 text-left max-w-screen-md"
            >
              <Image
                transition:animate={fade({ duration: "1.4s" })}
                slot="eyebrow"
                src={heroShape}
                alt="chatiyp image"
                class="max-w-[600px] pe-24"
              />
            </div>
          </div>
        </section>
        <!-- hero section mobile screens -->
        <section
          id="aiactchecker-hero-mob"
          class="lg:hidden scroll-mt-24 items-center flex-col gap-4 space-y-8 h-fit px-8"
        >
          <div class="flex flex-col items-center space-y-8">
            <div>
              <div class="flex-1 flex-col items-center gap-4">
                <slot name="eyebrow" />
                <h1
                  class="text-green-500 text-center font-extrabold tracking-tight text-6xl max-w-[600px] mx-auto"
                >
                  ProjectPulse
                </h1>
              </div>
              <p class="max-w-3xl text-center font-extrabold text-xl">
                <slot name="lead" />
                <span class="text-[#94A3B8]"
                  >Mapping Innovation in EU-Funded Projects
                </span><slot />
              </p>
            </div>
            <div
              data-aos="fade-down"
              data-aos-duration="1500"
              class="flex-1 text-center"
            >
              <Image
                transition:animate={fade({ duration: "1.4s" })}
                slot="eyebrow"
                src={heroShape}
                alt="chatiyp image"
                class="sm:max-w-[500px]"
              />
            </div>
          </div>
        </section>
        <!-- intro and features section -->
        <section
          class="container px-8 lg:px-2 py-8 flex flex-col lg:flex-row scroll-mt-24 justify-around gap-4 h-fit mx-auto max-w-5xl"
        >
          <div class="flex-0">
            <h2 class="text-gray-100 text-center font-extrabold text-2xl">
              Exploring the EU Research & Innovation Ecosystem
            </h2>
            <p class="text-center text-sm text-[#94A3B8] py-4">
              ProjectPulse is a powerful data-driven dashboard that provides an
              in-depth analysis of EU-funded Research & Innovation projects.
              Harnessing advanced analytics and interactive visualizations,
              ProjectPulse empowers users to explore Europe's innovation
              ecosystem within a chosen domain, enabling smarter connections,
              meaningful collaboration, and a clearer understanding of emerging
              innovation pathways.
            </p>
          </div>
        </section>
        <section class="px-8 lg:px-2">
          <div class="container max-w-5xl mx-auto py-10">
            <h2 class="text-gray-100 text-center font-extrabold text-2xl">
              Navigating from Data to Actionable Insights
            </h2>
            <p class="text-center text-sm text-[#94A3B8] py-4"></p>
            <!-- how it works features -->
            <div
              class="container max-w-5xl mx-auto lg:flex lg:flex-row flex-col pt-10"
            >
              <div
                class="flex-1 flex-col text-center gap-4 px-5 mx-auto py-4 lg:py-0"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#ffffff"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-monitor-cog-icon lucide-monitor-cog mx-auto"
                  ><path d="M12 17v4"></path><path d="m15.2 4.9-.9-.4"
                  ></path><path d="m15.2 7.1-.9.4"></path><path
                    d="m16.9 3.2-.4-.9"></path><path d="m16.9 8.8-.4.9"
                  ></path><path d="m19.5 2.3-.4.9"></path><path
                    d="m19.5 9.7-.4-.9"></path><path d="m21.7 4.5-.9.4"
                  ></path><path d="m21.7 7.5-.9-.4"></path><path
                    d="M22 13v2a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7"
                  ></path><path d="M8 21h8"></path><circle cx="18" cy="6" r="3"
                  ></circle></svg
                >
                <div class="inline-block lg:block">
                  <h3
                    class="text-green-500 py-2 font-bold text-xl lg:text-center"
                  >
                    Comprehensive Project Insights
                  </h3>
                  <p class="text-sm text-[#94A3B8] text-center">
                    Track EU-funded initiatives at a granular level.
                  </p>
                </div>
              </div>
              <div
                class="flex-1 flex-col text-center gap-4 px-5 mx-auto py-4 lg:py-0"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#ffffff"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-chart-area-icon lucide-chart-area mx-auto"
                  ><path d="M3 3v16a2 2 0 0 0 2 2h16"></path><path
                    d="M7 11.207a.5.5 0 0 1 .146-.353l2-2a.5.5 0 0 1 .708 0l3.292 3.292a.5.5 0 0 0 .708 0l4.292-4.292a.5.5 0 0 1 .854.353V16a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1z"
                  ></path></svg
                >
                <div class="inline-block lg:block ps-5">
                  <h3
                    class="text-green-500 py-2 font-bold text-xl lg:text-center"
                  >
                    Interactive Visualizations
                  </h3>
                  <p class="text-sm text-[#94A3B8] text-center">
                    Gain a clear and structured view of funding, collaboration,
                    and technology trends.
                  </p>
                </div>
              </div>
              <div
                class="flex-1 flex-col text-center gap-4 px-5 mx-auto py-4 lg:py-0"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#ffffff"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-map-pinned-icon lucide-map-pinned mx-auto"
                  ><path
                    d="M18 8c0 3.613-3.869 7.429-5.393 8.795a1 1 0 0 1-1.214 0C9.87 15.429 6 11.613 6 8a6 6 0 0 1 12 0"
                  ></path><circle cx="12" cy="8" r="2"></circle><path
                    d="M8.714 14h-3.71a1 1 0 0 0-.948.683l-2.004 6A1 1 0 0 0 3 22h18a1 1 0 0 0 .948-1.316l-2-6a1 1 0 0 0-.949-.684h-3.712"
                  ></path></svg
                >
                <div class="inline-block lg:block">
                  <h3
                    class="text-green-500 py-2 font-bold text-xl lg:text-center"
                  >
                    Regional & Thematic Analysis
                  </h3>
                  <p class="text-sm text-[#94A3B8] text-center">
                    Identify specializations and strengths across different
                    locations.
                  </p>
                </div>
              </div>
              <div
                class="flex-1 flex-col text-center gap-4 px-5 mx-auto py-4 lg:py-0"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#ffffff"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-handshake-icon lucide-handshake mx-auto"
                  ><path d="m11 17 2 2a1 1 0 1 0 3-3"></path><path
                    d="m14 14 2.5 2.5a1 1 0 1 0 3-3l-3.88-3.88a3 3 0 0 0-4.24 0l-.88.88a1 1 0 1 1-3-3l2.81-2.81a5.79 5.79 0 0 1 7.06-.87l.47.28a2 2 0 0 0 1.42.25L21 4"
                  ></path><path d="m21 3 1 11h-2"></path><path
                    d="M3 3 2 14l6.5 6.5a1 1 0 1 0 3-3"></path><path d="M3 4h8"
                  ></path></svg
                >
                <div class="inline-block lg:block ps-5">
                  <h3
                    class="text-green-500 py-2 font-bold text-xl lg:text-center"
                  >
                    Collaboration Mapping
                  </h3>
                  <p class="text-sm text-[#94A3B8] text-center">
                    Discover key players and strategic partnerships in the
                    sector of your interest.
                  </p>
                </div>
              </div>
              <!-- <div class="flex-1 px-5 mx-auto pt-12 lg:pt-32"> -->
            </div>
          </div>
        </section>
        <!-- core features section -->
        <div
          class="-mt-5 lg:-mt-12 relative w-full h-32 lg:h-96 bg-white mx-auto my-0"
          style="top: 1px; clip-path: polygon(100% 0%, 100% 100%, 0 100%)"
        >
        </div>
        <section class="bg-white py-12 pb-44 px-8">
          <div
            class="container pt-12 text-center max-w-5xl mx-auto bg-white -mt-12 xl:-mt-16"
          >
            <h2 class="text-green-500 font-bold text-2xl">
              Explore Europe’s Energy Innovation Landscape with ProjectPulse
            </h2>
            <p class="text-sm text-[#94A3B8] pt-4">
              Unlock unmatched insights into sustainable energy storage, track
              funding flows, uncover collaboration trends, and explore the
              innovation dynamics powering the energy transition.
            </p>
            <a href="https://projectpulse.exanta.app/" target="_blank"
              ><button
                class="flex mx-auto mt-12 items-center justify-center gap-3 border-2 border-slate-950 text-slate-950 hover:bg-slate-950 px-6 py-4 hover:text-[#FFFFFF]"
              >
                Visit Demo
              </button></a
            >
          </div>
        </section>
      </div>
    </div>
    <Footer />
  </body>
</html>
