---
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/inter";
import { Image } from "astro:assets";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import "~/styles/index.css";
import { fade } from "astro:transitions";
import "aos/dist/aos.css";

import heroImg from "~/assets/wattwise_hero.webp";

const { generator, site } = Astro;
const title = "Exanta P.C. - WattWise";
const image = new URL("social.jpg", site);
const pageTitle = "exanta - WattWise";
const description = "Exanta P.C. - WattWise";
---

<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <ViewTransitions />
    <title>{pageTitle}</title>
    <meta name="description" content={description} />

    <!-- plausible code -->
    <script
      defer
      data-domain="exanta.io"
      src="https://analytics.csd.auth.gr/js/script.js"></script>

    <!-- social media -->
    <meta property="og:title" content={pageTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Animate on scroll library  -->
    <script>
      import AOS from "aos";
      AOS.init();
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-slate-950 text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <div>
      <div class="mt-32">
        <!-- hero section -->
        <section
          id="biashawk-hero"
          class="hidden lg:flex scroll-mt-24 items-center justify-around gap-4 space-y-8 h-fit 2xl:mx-auto 2xl:ms-32"
        >
          <div
            class="h-[70vh] flex flex-row items-center justify-between space-y-0 gap-x-4 xl:gap-x-32 space-x-8"
          >
            <div class="flex-1 flex-col items-center gap-4 ps-12">
              <slot name="eyebrow" />
              <h1
                class="text-teal-500 text-left font-extrabold tracking-tight text-6xl"
              >
                WattWise
              </h1>
              <p class="max-w-3xl text-left font-extrabold text-xl">
                <slot name="lead" />
                <span class="text-[#94A3B8]"
                  >Smarter Energy Decisions for Everyone
                </span><slot />
              </p>
              <p class="max-w-2xl text-left font-light text-sm">
                <slot name="" />
                <span class="text-[#94A3B8]"
                  >Visualize, Forecast, and Optimize Energy Usage
                </span><slot />
              </p>
            </div>
            <div
              data-aos="fade-left"
              data-aos-duration="1500"
              class="flex-0 text-left max-w-screen-md"
            >
              <Image
                transition:animate={fade({ duration: "1.4s" })}
                slot="eyebrow"
                src={heroImg}
                alt="wattwise"
                class="max-w-[700px] pe-12"
              />
            </div>
          </div>
        </section>
        <!-- hero section mobile screens -->
        <section
          id="biashawk-hero-mob"
          class="lg:hidden scroll-mt-24 items-center flex-col gap-4 space-y-8 h-fit px-8"
        >
          <div class="flex flex-col items-center space-y-8">
            <div>
              <div class="flex-1 flex-col items-center gap-4">
                <slot name="eyebrow" />
                <h1
                  class="text-teal-500 text-center font-extrabold tracking-tight text-6xl max-w-[600px] mx-auto"
                >
                  WattWise
                </h1>
              </div>
              <p class="max-w-3xl text-center font-extrabold text-xl">
                <slot name="lead" />
                <span class="text-[#94A3B8]"
                  >Smarter Energy Decisions for Everyone
                </span><slot />
              </p>
              <p class="max-w-3xl text-center font-light text-sm">
                <slot name="" />
                <span class="text-[#94A3B8]"
                  >Visualize, Forecast, and Optimize Energy Usage
                </span><slot />
              </p>
            </div>
            <div
              data-aos="fade-down"
              data-aos-duration="1500"
              class="flex-1 text-center"
            >
              <Image
                transition:animate={fade({ duration: "1.4s" })}
                slot="eyebrow"
                src={heroImg}
                alt="wattwise"
                class="sm:max-w-[500px]"
              />
            </div>
          </div>
        </section>
      </div>
      <!-- intro and features section -->
      <section
        class="container px-8 lg:px-2 py-8 flex flex-col lg:flex-row scroll-mt-24 justify-around gap-4 h-fit mx-auto max-w-5xl"
      >
        <div class="flex-0">
          <h2 class="text-gray-100 text-center font-extrabold text-2xl">
            Energy Usage Consumption Insights & Forecasting
          </h2>
          <p class="text-center text-sm text-[#94A3B8] py-4">
            Wattwise is a smart analytics tool that empowers both energy
            consumers and providers to understand, predict, and manage energy
            consumption and cost through intuitive visualizations and
            intelligent forecasting.
          </p>
        </div>
      </section>
      <section
        class="container px-8 lg:px-2 py-8 flex flex-col lg:flex-row scroll-mt-24 justify-around gap-4 h-fit mx-auto max-w-5xl"
      >
        <div class="flex-0">
          <h2 class="text-gray-100 text-center font-extrabold text-2xl">
            Consumers<br />Know more, save more
          </h2>
          <ul class="wattwise-list py-4">
            <li class="text-left text-sm text-[#94A3B8] py-2">
              Detailed visualizations of energy usage and costs
            </li>
            <li class="text-left text-sm text-[#94A3B8] py-2">
              Forecasting tools powered by machine learning
            </li>
            <li class="text-left text-sm text-[#94A3B8] py-2">
              Peer comparison with similar consumption profiles for deeper
              insights
            </li>
          </ul>
        </div>
        <div class="flex-0">
          <h2 class="text-gray-100 text-center font-extrabold text-2xl">
            Providers<br />See the bigger picture
          </h2>
          <ul class="wattwise-list py-4">
            <li class="text-left text-sm text-[#94A3B8] py-2">
              Visual dashboards showing consumer usage and trends
            </li>
            <li class="text-left text-sm text-[#94A3B8] py-2">
              Anomaly detection to identify unusual or inefficient consumption
              behavior
            </li>
            <li class="text-left text-sm text-[#94A3B8] py-2">
              Simulation to model price changes and their effect on consumption
            </li>
          </ul>
        </div>
      </section>
      <section class="px-8 lg:px-2">
        <div class="container max-w-8xl mx-auto py-10">
          <h2 class="text-gray-100 text-center font-extrabold text-2xl">
            Powered by AI, Designed for Clarity
          </h2>
          <!-- key features -->
          <div
            class="container max-w-8xl mx-auto lg:flex lg:flex-row flex-col pt-10"
          >
            <div class="flex-1 text-center px-5 mx-auto py-4 lg:py-0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#ffffff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-database-zap-icon lucide-database-zap mx-auto"
                ><ellipse cx="12" cy="5" rx="9" ry="3"></ellipse><path
                  d="M3 5V19A9 3 0 0 0 15 21.84"></path><path d="M21 5V8"
                ></path><path d="M21 12L18 17H22L19 22"></path><path
                  d="M3 12A9 3 0 0 0 14.59 14.87"></path></svg
              >
              <div class="inline-block lg:block">
                <h3 class="text-teal-500 py-2 font-bold text-xl lg:text-center">
                  Data Integration
                </h3>
                <p class="text-sm text-[#94A3B8] lg:text-center">
                  Direct database integration with sensor-based consumption
                  data.
                </p>
              </div>
            </div>
            <div
              class="flex-1 flex-col text-center gap-4 px-5 mx-auto py-4 lg:py-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#ffffff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-brain-cog-icon lucide-brain-cog mx-auto"
                ><path
                  d="M12 5a3 3 0 1 0-5.997.142 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588 4 4 0 0 0 7.636 2.106 3.2 3.2 0 0 0 .164-.546c.028-.13.306-.13.335 0a3.2 3.2 0 0 0 .163.546 4 4 0 0 0 7.636-2.106 4 4 0 0 0 .556-6.588 4 4 0 0 0-2.526-5.77A3 3 0 1 0 12 5"
                ></path><path d="M17.599 6.5a3 3 0 0 0 .399-1.375"></path><path
                  d="M6.003 5.125A3 3 0 0 0 6.401 6.5"></path><path
                  d="M3.477 10.896a4 4 0 0 1 .585-.396"></path><path
                  d="M19.938 10.5a4 4 0 0 1 .585.396"></path><path
                  d="M6 18a4 4 0 0 1-1.967-.516"></path><path
                  d="M19.967 17.484A4 4 0 0 1 18 18"></path><circle
                  cx="12"
                  cy="12"
                  r="3"></circle><path d="m15.7 10.4-.9.4"></path><path
                  d="m9.2 13.2-.9.4"></path><path d="m13.6 15.7-.4-.9"
                ></path><path d="m10.8 9.2-.4-.9"></path><path
                  d="m15.7 13.5-.9-.4"></path><path d="m9.2 10.9-.9-.4"
                ></path><path d="m10.5 15.7.4-.9"></path><path
                  d="m13.1 9.2.4-.9"></path></svg
              >
              <div class="inline-block lg:block">
                <h3 class="text-teal-500 py-2 font-bold text-xl lg:text-center">
                  Data Processing & Analytics
                </h3>
                <p class="text-sm text-[#94A3B8] text-center">
                  Wattwise applies clustering, forecasting, and anomaly
                  detection models to extract meaningful patterns.
                </p>
              </div>
            </div>
            <div
              class="flex-1 flex-col text-center gap-4 px-5 mx-auto py-4 lg:py-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#ffffff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chart-line-icon lucide-chart-line mx-auto"
                ><path d="M3 3v16a2 2 0 0 0 2 2h16"></path><path
                  d="m19 9-5 5-4-4-3 3"></path></svg
              >
              <div class="inline-block lg:block">
                <h3 class="text-teal-500 py-2 font-bold text-xl lg:text-center">
                  Interactive Dashboards
                </h3>
                <p class="text-sm text-[#94A3B8] text-center">
                  Users get access to clean and insightful visualizations
                  tailored to their profile and needs.
                </p>
              </div>
            </div>
            <div
              class="flex-1 flex-col text-center gap-4 px-5 mx-auto py-4 lg:py-0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#ffffff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-house-plug-icon lucide-house-plug mx-auto"
                ><path d="M10 12V8.964"></path><path d="M14 12V8.964"
                ></path><path
                  d="M15 12a1 1 0 0 1 1 1v2a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-2a1 1 0 0 1 1-1z"
                ></path><path
                  d="M8.5 21H5a2 2 0 0 1-2-2v-9a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2h-5a2 2 0 0 1-2-2v-2"
                ></path></svg
              >
              <div class="inline-block lg:block">
                <h3 class="text-teal-500 py-2 font-bold text-xl lg:text-center">
                  Dynamic Scenario Testing
                </h3>
                <p class="text-sm text-[#94A3B8] text-center">
                  Providers can adjust pricing and immediately see the projected
                  impact across consumer groups.
                </p>
              </div>
            </div>
            <!-- <div class="flex-1 px-5 mx-auto pt-12 lg:pt-32"> -->
          </div>
        </div>
      </section>
      <!-- core features section -->
      <div
        class="-mt-5 lg:-mt-12 relative w-full h-32 lg:h-64 bg-white mx-auto my-0"
        style="top: 1px; clip-path: polygon(100% 0%, 100% 100%, 0 100%)"
      >
      </div>
      <section class="bg-white py-12 pb-44 px-8">
        <div
          class="container pt-12 text-center max-w-5xl mx-auto bg-white -mt-12 xl:-mt-16"
        >
          <h2 class="text-teal-500 font-bold text-2xl">
            Explore Wattwise in Action
          </h2>
          <p class="text-sm text-[#94A3B8] pt-4">
            Try out our demo, explore the possibilities, and get a taste of how
            Wattwise can transform energy management.
          </p>
          <a href="https://wattwise.exanta.app/" target="_blank"
            ><button
              class="flex mx-auto mt-12 items-center justify-center gap-3 border-2 border-slate-950 text-slate-950 hover:bg-slate-950 px-6 py-4 hover:text-[#FFFFFF]"
            >
              Visit Demo
            </button></a
          >
        </div>
      </section>
    </div>
    <style>
      .wattwise-list li {
        list-style: none;
        padding: 10px 0px 10px 50px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23009688' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-diamond-plus-icon lucide-diamond-plus'%3E%3Cpath d='M12 8v8'/%3E%3Cpath d='M2.7 10.3a2.41 2.41 0 0 0 0 3.41l7.59 7.59a2.41 2.41 0 0 0 3.41 0l7.59-7.59a2.41 2.41 0 0 0 0-3.41L13.7 2.71a2.41 2.41 0 0 0-3.41 0z'/%3E%3Cpath d='M8 12h8'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: left calc(0% + 10px);
        background-size: 30px;
      }
    </style>
    <Footer />
  </body>
</html>
