---
import "@fontsource-variable/inter";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Exanta P.C. illuminates the entire pipeline from processing source data to gaining insights and discovering inherent and non-obvious knowledge.";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Exanta company page</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Exanta - Contact Us" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body
    class="h-full overflow-x-hidden bg-slate-950 text-default text-base selection:bg-secondary selection:text-white"
  >
      <Header />
      <div class="space-y-24 px-8 py-32 bg-gradient-to-b from-slate-950 to-slate-800">
        <Intro />
        <!-- <script async defer src="https://formfacade.com/include/107005720685135975386/form/1FAIpQLSclGV6wR9yCNkcmHzyV1sfAUd5m4BVLeiLzrkvQ6B8x2Xd00w/classic.js?div=ff-compose"></script> -->
        <form
        id="form"
        class="text-center grid grid-cols-1 gap-6 place-content-start"
        method="POST"
        action="/"
        netlify-honeypot="bot-field"
        data-netlify="true"
        >
          <!-- <label>
            Your name:
            <input type="text" name="entry.1848616173">
          </label>
          <label>
            Your email:
            <input type="email" name="entry.1136117940">
          </label>
          <label>
            Your message:
            <textarea name="entry.363979564"></textarea>
          </label>
          <button type="submit">Send</button> -->
          <p class="hidden">
            <label>
              Don’t fill this out if you’re human: <input name="bot-field" />
            </label>
          </p>

          <label>
            Your name:
            <input type="text" name="name">
          </label>
          <label>
            Your email:
            <input type="email" name="email">
          </label>
          <label>
            Your message:
            <textarea name="message"></textarea>
          </label>
          <button type="submit">Send</button>
          
        </form>
        <!-- <script>
          const form = document.getElementById('form');

          form.addEventListener('submit', async event => {
            event.preventDefault();

            const data = new FormData(form);

            console.log(Array.from(data));

            try {
              const res = await fetch(
                'https://docs.google.com/forms/u/0/d/e/1FAIpQLSclGV6wR9yCNkcmHzyV1sfAUd5m4BVLeiLzrkvQ6B8x2Xd00w/formResponse',
                {
                  method: 'POST',
                  body: data,
                },
              );
              return window.location.href = "/";
            } catch (err) {
              console.log(err.message);
            }
          });
        </script> -->
      </div>
      <Footer />
  </body>
</html>