---
import ContentSection from "~/components/content-section.astro";
import FeaturedNewsCard from "~/components/featured-card.astro";

const { arrayToMap, lead, title, subtitle, id } = Astro.props;
---

<ContentSection title={title} id={id}>
  <Fragment slot="lead">
    {lead}
  </Fragment>
  <p class="text-md max-w-3xl text-slate-400 place-self-center text-center">{subtitle}</p>
  <div class="max-w-6xl space-y-2">
  {(arrayToMap.length >= 3) ? 
    <div>
      <div class="grid gap-8 grid-cols-1 pb-6">
        <FeaturedNewsCard site={arrayToMap[0]} />
      </div>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        {arrayToMap.slice(1).map((item:any) => <FeaturedNewsCard site={item} />)}
      </div>
    </div> : (arrayToMap.length == 2) ?
    <div>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        {arrayToMap.map((item:any) => <FeaturedNewsCard site={item} />)}
      </div>
    </div> :
    <div>
      <div class="grid grid-cols-1 gap-8 pb-6">
        <FeaturedNewsCard site={arrayToMap[0]} />
      </div>
    </div>
  }
  </div>
</ContentSection>
