---
import { Icon } from "astro-icon";
import { Image } from 'astro:assets';
import type { FooterLink, NavItem, FooterInfo } from "~/types";

import exantaLogo from "~/assets/exanta_logo_text.svg"

const menuitems: Array<NavItem> = [
  {
    url: "/about",
    title: "About Us"
  },
  {
    url: "/#services",
    title: "Services"
  },
  {
    url: "/news",
    title: "News"
  },
  {
    url: "/contact",
    title: "Contact Us"
  },
];

const companyinfo: Array<FooterInfo> = [
  {
    title: "EXANTA P.C.",
    icon: "mdi:information-outline"
  },
  {
    title: "Kaisarias 12, GR54454 Thessaloniki, Greece",
    icon: "fluent:location-12-filled"
  },
  {
    title: "+30 2310******",
    icon: "uil:phone"
  },
  {
    title: "info@exanta.io",
    icon: "mdi:email-open-outline"
  }
];

const links: Array<FooterLink> = [
  {
    url: "#",
    description: "Exanta on Linkedin",
    icon: "dashicons:linkedin",
  },
  {
    url: "#",
    description: "Exanta on Twitter",
    icon: "fa-brands:twitter",
  },
];
---


<footer class="relative flex sm:h-96 items-center justify-center">
  <div class="absolute w-full h-24 bg-slate-950 mx-auto my-0" style="top: -95px; clip-path: polygon(50% 40%, 100% 100%, 0 100%)"></div>
  <div class="absolute -top-5 overflow-hidden">
    <Image src={exantaLogo} alt="exanta logo" width="150" />
  </div>
  <div class="relative py-20 sm:py-0 grid sm:grid-cols-3 gap-12 lg:gap-32 justify-items-center">
    <div class="text-center sm:text-start">
      <h6 class="text-slate-700 pb-4">Quick Navigation</h6>
      <ul class="relative grid gap-4 grid-cols-1 w-80 sm:w-auto">
        {
          menuitems.map((menuitem) => (
            <li>
              <a
                class="text-slate-600 hover:text-slate-500 focus:text-slate-500 text-sm"
                href={menuitem.url}
              >
                <span>{menuitem.title}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="text-center sm:text-start">
      <h6 class="text-slate-700 pb-4">Company info</h6>
      <ul class="relative grid gap-4 grid-cols-1 w-80 sm:w-auto">
        {
          companyinfo.map((item) => (
            <li class="text-slate-600 hover:text-slate-500 focus:text-slate-500 text-sm">
              <Icon class="h-6 text-slate-700 hover:text-slate-400 inline pe-2" name={item.icon} />
              <span>{item.title}</span>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="text-center justify-self-center">
      <h6 class="text-slate-700 pb-4">Follow us</h6>
      <ul class="items-center grid grid-cols-2 gap-4 w-80 sm:w-auto">
        {
          links.map((link) => (
            <li class="self-center mx-auto">
              <a
                class="flex h-14 w-14 rounded-full border-2 border-slate-700 hover:border-slate-400 p-4"
                href={link.url}
              >
                <span class="sr-only">{link.description}</span>
                <Icon class="h-full text-slate-700 hover:text-slate-400" name={link.icon} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="absolute bottom-5 justify-between">
    <p class="text-sm text-slate-600">Made by exanta | © Copyright <span id="year"></span>. All rights reserved.</p>
  </div>
</footer>

<script>
document.getElementById("year").innerHTML = new Date().getFullYear();
</script>